.github-img {
    width:              15vw;
}

.linkedin-img {
    width:              15vw;
}

.resume-img {
    width:              15vw;
}

.email {
    color:                #ffffff;
    font-size:             calc(100% + 0.5vw + 0.5vh);
    font-family:          'Average Sans', sans-serif;
    margin-top:            3.5vw;
    margin-bottom:         5vw;
    text-align:             center;
}

.linkgrid {
    display:            inline-grid;
    grid-column-gap:    5vw;;
    margin-left:        20vw;
    margin-right:       20vw;
    background-color:   #27044a;
}

 .link1 {
    grid-column:        1;
    grid-row:           1;
    background-color:   #27044a;
}

.link2  {
    grid-column:        2;
    grid-row:           1;
    background-color:   #27044a;
}

.link3  {
    grid-column:        3;
    grid-row:           1;
    background-color:   #27044a;
}


@media only screen and (min-width: 768px) {

    .github-img {
        width:              10vw;
        vertical-align:     middle;
    }
    
    .linkedin-img {
        width:              10vw;
        vertical-align:     middle;
    }
    
    .resume-img {
        width:              10vw;
        vertical-align:     bottom;
    }

    .linkgrid {
        display:            inline-grid;
        grid-column-gap:    5vw;;
        margin-left:        30vw;
        margin-right:       30vw;
        background-color:   #27044a;
    }

  }


