
html {
    scroll-behavior:    smooth;
}
.navigation {
    background-color:   #330066;
    padding:             20px;
    width:              100%;
    top:                 0;
    position:           fixed;
    
}

.custom-toggler.navbar-toggler-icon { 
    border-color:      #ffffff; 
    border-width:       0.01vw;
    border-style:       solid;
    background-image:   url("images/toggleicon.png")
    
} 

.namelogo {
    color:              #ffffff;
    font-family:        'Megrim' !important;
    font-weight:        bold;
    font-size:          5vh;
    padding:            1vh;
    vertical-align:     middle;
    text-decoration:    none;
    margin-right:       30px;
}

.namelogo:hover {
    color:              #2AB39A;
    font-family:        'Megrim' !important;
    font-weight:        bold;
    font-size:          5vh;
    padding:            1vh;
    vertical-align:     middle;
    text-decoration:    none;
    margin-right:       30px;
}

.navtext {
    color:            #ffffff;
    font-size:          25px;
    font-family:        'Quantico', sans-serif;  
    padding:            10px;
    text-decoration:    none;
    text-align:         center;
    vertical-align:     middle;
}

.navtext:hover {
    color:            #2AB39A;
    font-size:          25px;
    padding:            10px;
    text-decoration:    none;
    text-align:         center;
    vertical-align:     middle;
}

body {
    background-color:   #27044a;
    width:              100%;
    margin:             0px;
    padding:            0px;
    overflow-x:         hidden; 
}

#AboutMe { 
    padding-top:        9vw;
}

#Projects {
    padding-top:        9vw;
}

#Experience {
    padding-top:        4vw;
}

#Connect {
    padding-top:        8vw;
}

.profilepic {
    margin-top:         8vh;
    border-width:       0.3vw;
    border-color:       #2AB39A;
    border-style:       solid;
    display:            block;
    margin-left:        auto;
    margin-right:       auto;
    width:              300px;
}

h1  {
    padding-top:        20vh;
    font-size:          calc(100% + 3.7vw + 3.7vh);
    font-family:        'Quantico', sans-serif;
    letter-spacing:      0.02em;
    text-align:         center;
    color:              #2AB39A;
}

.sectionheading {
    font-size:          calc(100% + 2vw + 2vh);
    color:           #2AB39A;
    font-family:        'Quantico', sans-serif;   
    letter-spacing:      0.0em;
    text-align:         center;
    padding-bottom:      0.3vw;
}

.abouttext {
    color:              #ffffff;
    font-size:          calc(100% + 0.5vw + 0.5vh);
    font-family:        'Average Sans', sans-serif;
    margin-left:        10vw;
    margin-right:       10vw;
    text-align:         center;
    line-height:        1.5em;
}

footer {
    background-color:   #330066 ;
    bottom:              0;
}
.footerlogo {

    color:              #2AB39A;
    font-family:        'Megrim' !important;
    font-weight:        bold;
    font-size:          calc(100% + 1vw + 1vh);;
    padding:            10px;
    text-align:         center;
    vertical-align:     middle;
    text-decoration:    none;

}


