 a.active.nav-link {
    font-size:          calc(100% + 0.7vw + 0.7vh) !important;
    font-family:        'Average Sans', sans-serif !important;
    color:             #2AB39A !important;
    text-decoration:      underline !important;
    text-underline-offset: 200vh !important;
    background-color:   #27044a !important;
    border:             none;
  }

  a:hover {
      border:           none !important;
      color:             #2AB39A !important;
      font-family:        'Average Sans', sans-serif !important;
  }

  a {
    color:            #ffffff;
    font-size:          calc(100% + 0.7vw + 0.7vh);
    font-family:        'Average Sans', sans-serif !important;
    border:             none;
  }

  h3 {
      color:            #ffffff;
      font-family:        'Average Sans', sans-serif;
      font-size:           calc(100% + 0.5vw + 0.5vh);
      text-align:           center;
  }

  .custom-pane.tab-pane {
      margin-left:          15vw;
      margin-right:         15vw;
      border:               none;
      background-color:     #330066;
  }

  .customnavtabs.nav-tabs {
      border-bottom:        none;
  }

  .pane-text {
      color:                #ffffff;
      font-size:             calc(100% + 0.3vw + 0.3vh);
      font-family:          'Average Sans', sans-serif;
      text-align:            left;
  }